In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

In [2]:
data = pd.read_csv("Rat Statistics.csv")
display(data)

         rats                                        appearences
0     aladdin  A1 A1 A1 A1 A1 A1 A1 A1 A1 A1 A2 A2 A2 A2 A2 A...
1      alexis  A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A3 A...
2      andrea  A1 A1 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A...
3      barbie  M2 M2 M2 M2 M2 M3 N1 N3 N3 N3 N3 N3 O2 O2 O2 O...
4      bopeep  M2 M2 M2 M2 M2 M2 M2 M2 N3 N3 N3 N3 N3 N3 N3 N...
5   buttercup  M1 M2 M2 M3 M4 M4 M4 N1 N1 N1 N1 N1 N3 N3 O2 O...
6        buzz  M2 M2 M2 M2 M3 M4 M4 M4 N1 N1 N1 N1 N3 N3 N3 N...
7     captain  M2 M2 M2 M4 M4 M4 M4 M4 N1 N1 N1 N1 N1 N3 N3 N...
8        carl  A1 A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A2 A2 A3 A3 A...
9       fiona  A1 A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A...
10     harley  A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A...
11      jafar  A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A...
12       jimi  A1 A1 A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A...
13     johnny  A1 A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A...
14         jr  A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A...
15      juana  A1 A1 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A...
16        ken  M2 M2 M3 M3 M4 M4 M4 N1 N1 N1 N1 N1 N3 N3 O2 O...
17       kobe  A1 A1 A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A...
18    kryssia  A1 A1 A1 A1 A1 A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A...
19       mike  A1 A1 A1 A1 A1 A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A...
20    monster                                  M2 M2 N3 N3 O2 O2
21    neftali  A1 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A...
22     pepper  M1 M2 M3 M3 M4 M4 M4 M4 N1 N1 N1 N1 N1 N1 N2 N...
23     raissa  A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A...
24      raven  A1 A1 A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A...
25     renata  A1 A1 A1 A1 A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A2 A...
26        rex  M2 M2 M2 M2 M3 M4 N1 N1 N3 N3 N3 N3 O2 O2 O2 O...
27      sarah  A1 A1 A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A2 A2 A2 A...
28       scar  A1 A1 A1 A1 A1 A1 A1 A1 A1 A1 A2 A2 A2 A2 A2 A...
29    shakira  A1 A1 A1 A1 A1 A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A...
30      simba  A1 A1 A1 A1 A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A2 A...
31     slinky  M1 M2 M2 M2 M2 M3 N1 N2 N3 N3 N3 N3 O1 O2 O2 O...
32      sully  A1 A1 A1 A1 A1 A1 A1 A1 A2 A2 A2 A2 A2 A2 A2 A...
33     trixie  M2 M2 M2 M2 M2 M4 M4 M4 M4 M4 N1 N1 N1 N1 N1 N...
34     vision  M2 M2 M2 M2 M2 M2 M2 M3 M3 N1 N1 N3 N3 N3 N3 N...
35      wanda                                  M3 M4 N1 N1 O2 O3
36      woody  M2 M2 M2 M3 M4 M4 N1 N1 N1 N3 N3 N3 O2 O2 O2 O...

In [3]:
rats = data.rats.values.tolist()
display(rats)

['aladdin',
 'alexis',
 'andrea',
 'barbie',
 'bopeep',
 'buttercup',
 'buzz',
 'captain',
 'carl',
 'fiona',
 'harley',
 'jafar',
 'jimi',
 'johnny',
 'jr',
 'juana',
 'ken',
 'kobe',
 'kryssia',
 'mike',
 'monster',
 'neftali',
 'pepper',
 'raissa',
 'raven',
 'renata',
 'rex',
 'sarah',
 'scar',
 'shakira',
 'simba',
 'slinky',
 'sully',
 'trixie',
 'vision',
 'wanda',
 'woody']

In [4]:
appearences = data.appearences.values.tolist()
#display(appearences)

In [5]:
listOfClusterLists = []
for i in appearences:
    listOfClusterLists.append(i.split())

In [6]:
#display(listOfClusterLists)

In [7]:
#display(len(listOfClusterLists))

In [8]:
rats = data.rats.values.tolist()
#display(rats)

In [48]:
for number in range(len(rats)):
    scores ={}
    for i in listOfClusterLists[number]:
        try:
            scores[i]+=1
        except:
            scores[i] = 1
    clusterNames = list(scores.keys())
    clusterCount = list(scores.values())
    fig,ax = plt.subplots(nrows =1, ncols = 4,figsize =(40,40))

    one_dimensional_cluster_label =[]
    one_dimensional_cluster_value = []
    two_dimensional_cluster_label = []
    two_dimensional_cluster_value = []
    three_dimensional_cluster_label = []
    three_dimensional_cluster_value = []
    four_dimensional_cluster_label = []
    four_dimensional_cluster_value = []

    for i_index,i in enumerate(clusterNames):
        if len(i) == 2:
            one_dimensional_cluster_label.append(i)
            one_dimensional_cluster_value.append(clusterCount[i_index])
        elif len(i)==4:
            two_dimensional_cluster_label.append(i)
            two_dimensional_cluster_value.append(clusterCount[i_index])
        elif len(i) ==6:
            three_dimensional_cluster_label.append(i)
            three_dimensional_cluster_value.append(clusterCount[i_index])
        elif len(i) ==8:
            four_dimensional_cluster_label.append(i)
            four_dimensional_cluster_value.append(clusterCount[i_index])
    ax[0].set_title(rats[number]+"'s 1D Cluster Appearences")
    ax[0].bar(one_dimensional_cluster_label,one_dimensional_cluster_value)
    ax[0].tick_params(axis='x',labelrotation=90)
    ax[0].set_xlabel('Cluster Names')
    ax[0].set_ylabel('Number Of Appearences')


    ax[1].set_title(rats[number]+"'s 2D Cluster Appearences")
    ax[1].bar(two_dimensional_cluster_label,two_dimensional_cluster_value)
    ax[1].tick_params(axis='x',labelrotation=90)
    ax[1].set_xlabel('Cluster Names')
    ax[1].set_ylabel('Number Of Appearences')

    ax[2].set_title(rats[number]+"'s 3D Cluster Appearences")
    ax[2].bar(three_dimensional_cluster_label,three_dimensional_cluster_value)
    ax[2].tick_params(axis='x',labelrotation=90)
    ax[2].set_xlabel('Cluster Names')
    ax[2].set_ylabel('Number Of Appearences')

    ax[3].set_title(rats[number]+"'s 4D Cluster Appearences")
    ax[3].bar(four_dimensional_cluster_label,four_dimensional_cluster_value)
    ax[3].tick_params(axis='x',labelrotation=90)
    ax[3].set_xlabel('Cluster Names')
    ax[3].set_ylabel('Number Of Appearences')


    #display(rats[k])
    #display(type(rats[k]))
    #plt.title(rats[number]+"'s Cluster Appearences")
    plt.xlabel("Cluster Names")
    plt.ylabel("Number of Appearences in each Cluster")
    plt.xticks(fontsize = 14,rotation = 90)
    plt.savefig(rats[number]+".pdf")
    plt.show
    plt.close('all')
    #number+=1